body
{
  padding: 50px 50px 50px 400px;
  margin: 0;
  min-height: 300px;
  color: #333;
  background: #e2e7ef url('../images/icon.png') 50px 50px no-repeat;
  background-size: 256px
}
body,
button
{
  font: normal 15px/1.5 "Proxima Nova", Arial, Helvetica, Geneva, sans-serif;
}

a,
button
{
  color: #0080ff;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
}

a:hover,
button:hover
{
  text-decoration: underline;
}

h1, h2
{
  line-height: 1;
  margin: 0;
}

h2
{
  margin-top: 10px;
}
